<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'services:home' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'services:client_list' %}" class="text-white">Клиенты</a></li>
        <li><a href="{% url 'services:message_list' %}" class="text-white">Сообщения</a></li>
        <li><a href="{% url 'services:mailing_list' %}" class="text-white">Рассылки</a></li>
        <li><a href="{% url 'services:logs_list' %}" class="text-white">Отчет о рассылках</a></li>
        <li><a href="{% url 'services:contacts' %}" class="text-white">Контакты</a></li>
        <li><a href="#" class="text-white">Блог</a></li>
    </ul>
</div>
