{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Список клиентов</title>
{% endblock %}

</head>
<body>

{% block content %}
  <main>
    {% for client in clients_list %}
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-2 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h5 class="my-0 fw-normal">Ф.И.О клиента: {{ client.name | title }}</h5>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ client.comment }}</li>
                    <li>eMail: {{ client.email }}</li>
                </ul>
                <hr>
                <a type="button" href="{% url 'services:view_client' client.pk%}" >Просмотр</a>
                <a type="button" href="{% url 'services:edit_client' client.pk%}" >Изменить</a>
                <a type="button" href="{% url 'services:delete_client' client.pk%}" >Удалить</a>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
  </main>
   <div class="col-12 mb-5">
      <a href="{% url 'services:create_client' %}" class="btn btn-outline-primary">Добавить клиента</a>
   </div>
{% endblock %}


</body>
</html>