{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Список клиентов</title>
{% endblock %}

</head>
<body>

{% block content %}
  <main>
    {% if not perms.services.can_deactivate_mailing %}
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'services:create_client' %}">Добавить клиента</a>
    </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for client in clients_list %}
        <div class="col">
          <div class="card mb-4 box-shadow">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">Клиент: {{ client.name | title }}</h3>
              </div>
            <div class="card-body">
              <p class="card-text">
              <span class="text-muted">eMail: {{ client.email }}</span><br>
              <span class="text-muted">Комментарий: {{ client.comment }}</span><br>
              <span class="text-muted">Создал: {{ client.owner }}</span><br>
                {% for mail_serv in client.mailing.all %}
                  <span class="text-muted">В рассылке: {{ mail_serv.name }}</span><br>
                {% endfor %}

              </p>
                <hr>
                <div class="container-buttons">
                  {% if user == client.owner or user.is_superuser %}
                    <a href="{% url 'services:view_client' client.pk %}">Посмотреть</a>
                    <a href="{% url 'services:edit_client' client.pk %}">Редактировать</a>
                    <a href="{% url 'services:delete_client' client.pk %}">Удалить</a>

                  {% elif perms.services.can_edit_description%}
                    <a href="{% url 'services:view_client' client.pk %}">Посмотреть</a>
                    <a href="{% url 'services:edit_client' client.pk %}">Редактировать</a>
                  {% endif %}
                </div>

            </div>
          </div>
        </div>

    {% endfor %}
    </div>
  </main>

{% endblock %}


</body>
</html>