{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Удалить клиента</title>
{% endblock %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">Клиент: {{ client.name | title }}</p>
</div>

        <div class="col-12">
                <div class='row'>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                     <p>Действительно ли вы хотите удалить клиента {{ client.name }} ?</p>
                                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                                    <a href="{% url 'services:client_list' %}" class="btn btn-warning">Отмена</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

{% endblock %}