{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Добавить клиента</title>
{% endblock %}

</head>
<body>

{% block content %}

  <div class="container">
    <div class="row">
         <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <div class="card-header py-3">
                <h3 class="my-0 fw-normal">Клиент: {{ client.name | title }}</h3>
              </div>
            <div class="card-body">
              <span class="text-muted">eMail: {{ client.email }}</span><br>
              <span class="text-muted">Комментарий: {{ client.comment }}</span><br>
                <span class="text-muted">Создал: {{ client.owner }}</span><br>
                <span class="text-muted">В рассылке: {{ mailing.client }}</span>
            </div>
            <div class="card-footer">
              <a class="btn btn-link" href="{% url 'services:edit_client' client.pk%}">Изменить</a>
              <a class="btn btn-link" href="{% url 'services:delete_client' client.pk%}">Удалить</a>
              <a class="btn btn-link" href="{% url 'services:client_list'%}">Назад</a>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}


</body>
</html>