{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Удалить рассылку</title>
{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <p class="lead">Наименование: {{ mailing.name }} </p>
    <p class="lead">Сообщение: {{ mailing.message }} </p>
</div>
<div class="col-12">
    <div class='row'>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                         <p>Подтвердите удаление этой рассылки</p>
                        <button type="submit" class="btn btn-danger">Подтвердить</button>
                        <a href="{% url 'services:mailing_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}