{% extends 'services/base.html' %}
{% load static %}

<!DOCTYPE html>
{% block icon %}
    <title>Список сообщений</title>
{% endblock %}

</head>
<body>

{% block content %}
  <main>
      {% if user.is_authenticated %}
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'services:create_message' %}">Добавить сообщение</a>
        </div>
      {% endif %}


    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">
    {% for message in message_list %}

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h5 class="my-0 fw-normal">{{ message.subject | title }}</h5>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ message.body }}</li>
                </ul>
                {% if user.is_authenticated %}
                <div class="container-buttons">
                    <hr>
                    <a href="{% url 'services:view_message' message.pk%}" >Посмотреть</a>
                    <a href="{% url 'services:edit_message' message.pk%}" >Изменить</a>
                    <a href="{% url 'services:delete_message' message.pk%}" >Удалить</a>

                </div>
                {% endif %}
              </div>
            </div>
          </div>

    {% endfor %}
 </div>


  </main>

{% endblock %}


</body>
</html>